<div class="clr-row">
  <div class="clr-col-2"></div>
  <div class="clr-col-8">
    <div class="alert alert-info" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">Please take note the claims below are captured within the last 14 days.</span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>
  </div>
  <div class="clr-col-2"></div>
</div>
<br />
<br />

<div class="clr-row">
  <div class="clr-col-5">
    <form clrForm [formGroup]="SearchForm">
      <clr-input-container>
        <label>Search</label>
        <input clrInput formControlName="search" (input)="Search()"/>

      </clr-input-container>
    </form>
  </div>
  <div class="clr-col-7"></div>
</div>
  <div class="clr-row">
    
    <div class="clr-col-12">
      <clr-datagrid>
        <!--<clr-dg-column>REFFERENCE</clr-dg-column>-->
        <clr-dg-column>MEDIWALLET REF</clr-dg-column>
        <clr-dg-column>DRC REF</clr-dg-column>
        <clr-dg-column>MEMBERID</clr-dg-column>
        <clr-dg-column>TOTAL CLAIMED</clr-dg-column>
        <clr-dg-column>PAID BY MEDIWALLET</clr-dg-column>
        <clr-dg-column>PAID BY MEMBER</clr-dg-column>
        <clr-dg-column>DATE&nbsp;<span style="cursor:pointer"><clr-icon shape="sort-by" (click)="SortByDate()"></clr-icon></span></clr-dg-column>

        <clr-dg-row *ngFor="let claim of this._appService.TransactionService.historyClaims" (click)="this._appService.TransactionService.GetClaimDetail(claim)">
          <!--<clr-dg-cell>{{claim.desc}}</clr-dg-cell>-->
          <clr-dg-cell>{{claim.mediRef}}</clr-dg-cell>
          <clr-dg-cell>{{claim.drcRef}}</clr-dg-cell>
          <clr-dg-cell>{{claim.membId}}</clr-dg-cell>
          <clr-dg-cell>R {{claim.total | number : '.2'}}</clr-dg-cell>
          <clr-dg-cell>R {{claim.provpay | number : '.2'}}</clr-dg-cell>
          <clr-dg-cell>R {{claim.membpay | number : '.2'}}</clr-dg-cell>
          <clr-dg-cell>{{claim.qty}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{this._appService.TransactionService.historyClaims.length}} claims</clr-dg-footer>
      </clr-datagrid>
    </div>
    
  </div>

  <clr-modal [(clrModalOpen)]="this._appService.TransactionService.openDetailModel" [clrModalSize]="'lg'" [clrModalClosable]="false">
    <div class="modal-body">

      <div class="clr-row">
        <div class="clr-col-12">

          <clr-datagrid>
            <clr-dg-column>DIAG CODE</clr-dg-column>
            <clr-dg-column>PROC CODE</clr-dg-column>
            <clr-dg-column>TOOTH NO</clr-dg-column>
            <clr-dg-column>QTY</clr-dg-column>
            <clr-dg-column>SINGLE UNIT AMOUNT</clr-dg-column>
            <clr-dg-column>TOTAL</clr-dg-column>
            <clr-dg-column>PAYED BY MEDIWALLET</clr-dg-column>
            <clr-dg-column>PAYED BY MEMBER</clr-dg-column>

            <clr-dg-row *ngFor="let claim of this._appService.TransactionService.historyClaimsDetail">
              <clr-dg-cell>{{claim.diag}}</clr-dg-cell>
              <clr-dg-cell>{{claim.code}}</clr-dg-cell>
              <clr-dg-cell>{{claim.toothNo}}</clr-dg-cell>
              <clr-dg-cell>{{claim.qty}}</clr-dg-cell>
              <clr-dg-cell>R {{claim.singleUnitAmount}}</clr-dg-cell>
              <clr-dg-cell>R {{claim.total}}</clr-dg-cell>
              <clr-dg-cell>R {{claim.provpay}}</clr-dg-cell>
              <clr-dg-cell>R {{claim.membpay}}</clr-dg-cell>
            </clr-dg-row>

          </clr-datagrid>
</div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="this._appService.TransactionService.openDetailModel = false" >
        OK
      </button>
    </div>
  </clr-modal>


  <clr-modal [(clrModalOpen)]="this._appService.TransactionService.busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
    <div class="modal-body text-center" style="padding: 24px;">
      <span class="spinner">
        Loading...
      </span>
    </div>
  </clr-modal>
