
<div class="clr-row">
  <div class="clr-col-md-2"></div>
  <div class="clr-col-md-8">
    <div class="clr-row" style="text-align:center">
      <div class="clr-col-lg-12" style="display:inline-block">
        <div class="card">
          <div class="card-header">
            Balance Check
          </div>
          <div class="card-block">
            <div class="card-text">
              <div class="clr-row">
                <div class="clr-col-lg-12">
                  <form clrForm [formGroup]="OTPForm">
                    <div class="clr-row">
                      <div class="clr-col-lg-7">
                        <clr-input-container>
                          <label>Memb ID/ CardNo</label>
                          <input clrInput type="text" formControlName="membId" required />
                          <clr-control-error>{{this.membError}}</clr-control-error>
                        </clr-input-container>
                        <clr-input-container>
                          <label>Authorized Amount</label>
                          <input clrInput type="number" formControlName="amount" min="0.00" step=".01" required />
                          <clr-control-error>{{this.numError}}</clr-control-error>
                        </clr-input-container>
                      </div>
                      <div class="clr-col-lg-5">
                        <br />
                        <br />
                        <br />
                        <div class="clr-row">
                          <div class="clr-col-9" *ngIf="this._appService.TransactionService.balanceSuccess">
                            <div class="alert alert-success" role="alert">
                              <div class="alert-items">
                                <div class="alert-item static">
                                  <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                                  </div>
                                  <span class="alert-text">The Requested Amount is Available!!</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="clr-col-9" *ngIf="this._appService.TransactionService.balanceFail">
                            <div class="alert alert-danger" role="alert">
                              <div class="alert-items">
                                <div class="alert-item static">
                                  <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                  </div>
                                  <span class="alert-text">The Requested Amount is Unavailable!!</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-link" (click)="BalaceCheck()">Check Balance</button>
            <button class="btn btn-sm btn-link" (click)="Clear()">Clear All Fields</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="clr-col-md-2"></div>
</div>

<clr-modal [(clrModalOpen)]="this._appService.TransactionService.busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center" style="padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="this._appService.TransactionService.error" [clrModalClosable]="false">
  <h3 class="modal-title">Enter Customer OTP</h3>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">Oops!! It looks like something went wrong</span>
        </div>
      </div>
    </div>
    <span>{{this._appService.TransactionService.errorMessage}}</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.TransactionService.error = false">
      OK
    </button>
  </div>
</clr-modal>
