<div class="clr-row">
  <div class="clr-col-2"></div>
  <div class="clr-col-6">

    <button class="btn btn-sm btn-link" (click)="openHpsetupNew()">Add HpSetup</button>
  </div>
  <div class="clr-col-4"></div>
</div>

<div class="clr-row">
  <div class="clr-col-2"></div>
  <div class="clr-col-8">

    <clr-datagrid>
      <clr-dg-column>HPCODE</clr-dg-column>
      <clr-dg-column>DESC</clr-dg-column>
      <clr-dg-column>ENABLED</clr-dg-column>
      <clr-dg-column>EDIT/DELETE</clr-dg-column>


      <clr-dg-row *ngFor="let code of this._appService.AdminService.hpsetupList">
        <clr-dg-cell>{{code.hpcode}}</clr-dg-cell>
        <clr-dg-cell>{{code.descr}}</clr-dg-cell>
        <clr-dg-cell>{{code.enabled}}</clr-dg-cell>
        <clr-dg-cell>
          <div class="btn-group " style="display:inline-block">
            <button type="button" class="btn btn-icon btn-danger-outline btn-sm" aria-label="error" (click)="DeleteSetup(code)">
              <clr-icon shape="trash"></clr-icon>
            </button>
            <button type="button" class="btn btn-icon btn-outline  btn-sm" aria-label="edit" (click)="openHpsetupEdit(code)">
              <clr-icon shape="note"></clr-icon>
            </button>
          </div>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{this._appService.AdminService.hpsetupList.length}} setups</clr-dg-footer>
    </clr-datagrid>

  </div>
  <div class="clr-col-2"></div>
</div>

<clr-modal [(clrModalOpen)]="this.openModelUpdate" [clrModalClosable]="false">
  <div class="modal-body">
    <form clrForm [formGroup]="hpsetupForm" clrLayout="compact">
      <div>
        <clr-input-container>
          <label>HPCODE</label>
          <input clrInput type="text" formControlName="hpcode"  />
        </clr-input-container>

        <clr-input-container>
          <label>DESCRIPTION</label>
          <input clrInput  type="text" formControlName="desc"  />
        </clr-input-container>

        <clr-input-container>
          <label>ENABLED</label>
          <input clrInput type="number" formControlName="enabled" min="0" step="1" max="1" />
        </clr-input-container>
      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="updateHpSetup()">
      OK
    </button>
    <button type="button" class="btn btn-danger" (click)="this.openModelUpdate = false">
      CANCEL
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.openModelNew" [clrModalClosable]="false">
  <div class="modal-body">
    <form clrForm [formGroup]="hpsetupForm" clrLayout="compact">
      <div>
        <clr-input-container>
          <label>HPCODE</label>
          <input clrInput type="text" formControlName="hpcode" />
        </clr-input-container>

        <clr-input-container>
          <label>DESCRIPTION</label>
          <input clrInput type="text" formControlName="desc" />
        </clr-input-container>

        <clr-input-container>
          <label>ENABLED</label>
          <input clrInput type="number" formControlName="enabled" min="0" step="1" max="1" />
        </clr-input-container>
      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="NewHpSetup()">
      OK
    </button>
    <button type="button" class="btn btn-danger" (click)="this.openModelNew = false">
      CANCEL
    </button>
  </div>
</clr-modal>


