
<div class="clr-row">
  <div class="clr-col-md-1"></div>
  <div class="clr-col-md-10">
    <div class="clr-row">
      <div class="clr-col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="clr-row">
              <div class="clr-col-4"></div>
              <div class="clr-col-4 text-center">Claim Capture</div>
              <div class="clr-col-4"></div>
            </div>
          </div>
          <div class="card-block">
            <div class="card-text">
              <div class="clr-row">
                <!--Claim capture form-->
                <div class="clr-col-lg-7">
                  <br />
                  <div class="clr-row">
                    <div class="clr-col"><b>Member:</b>&nbsp;&nbsp;&nbsp;{{this._appService.TransactionService.cardnumber}} - <span style="font-size:x-small; color:green"><i>{{this._appService.TransactionService.memberDetails}}</i></span></div>
                  </div>
                  <br />
                  <div class="clr-row">
                    <div class="clr-col"><b>Practice:</b>&nbsp;&nbsp;&nbsp;{{ this._appService.LoginService.loginDetails.provID}} - <span style="font-size:x-small; color:green"><i>{{ this._appService.LoginService.loginDetails.lastname}}</i></span></div>
                  </div>
                  <br />
                  <div class="clr-row">
                    <div class="clr-col"><b>Service Date:</b>&nbsp;&nbsp;&nbsp;{{this._date}}</div>
                  </div>
                  <br />
                  <div class="clr-row">
                    <div class="clr-col"><b>Validated Amount:</b>&nbsp;&nbsp;&nbsp;R {{this._appService.TransactionService.amount | number : '.2'}}</div>
                  </div>
                  <div class="clr-row">
                    <div class="clr-col">
                      <form [formGroup]="DiagForm">
                        <clr-select-container>
                          <label>Diagnosis Code</label>
                          <select clrSelect formControlName="diagList" (change)="SetDiag()">
                            <option *ngFor="let c of this._appService.LoginService.diagList" value={{c.code}}>{{c.code}} - {{c.description}}</option>
                            <option value="OTHER">OTHER</option>
                          </select>
                        </clr-select-container>
                        <clr-input-container *ngIf="this.DiagForm.get('diagList').value == 'OTHER'">
                          <label>Diagnosis Code</label>
                          <input clrInput type="text" formControlName="diag" (blur)="ValidateDiag()" required />
                          <clr-control-error>{{this.diagError}}</clr-control-error>
                          <clr-control-helper style="color:rgb(4, 161, 70)" *ngIf="this._appService.TransactionService.diagdesc.valid">{{this.diagError}}</clr-control-helper>
                        </clr-input-container>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="clr-col-lg-5" *ngIf="this.showAddCodeForm">
                  <form clrForm [formGroup]="ClaimForm">
                    <div>
                      <clr-input-container>
                        <label>Procedure Code</label>
                        <input clrInput type="text" formControlName="proc" (blur)="ValidateProc()" required />
                        <clr-control-error>{{this.procError}}</clr-control-error>
                        <clr-control-helper style="color:rgb(4, 161, 70)">{{this.procError}}</clr-control-helper>
                      </clr-input-container>

                      <clr-input-container>
                        <label>Qauntity</label>
                        <input clrInput type="number" formControlName="qty" (blur)="ValidateQty()" required />
                        <clr-control-error>{{this.qtyError}}</clr-control-error>
                      </clr-input-container>

                      <clr-input-container>
                        <label>Single Unit Price</label>
                        <input clrInput type="number" formControlName="price" (blur)="ValidatePrice()" min="0.00" step=".01" required />
                        <clr-control-error>{{this.priceError}}</clr-control-error>
                      </clr-input-container>

                      <!--<clr-input-container>
                        <label>Diagnosis Code</label>
                        <input clrInput type="text" formControlName="diag" (blur)="ValidateDiag()" min="0.00" step=".01" required />
                        <clr-control-error>{{this.diagError}}</clr-control-error>
                        <clr-control-helper style="color:rgb(4, 161, 70)">{{this.diagError}}</clr-control-helper>
                      </clr-input-container>-->
                      <clr-input-container>
                        <label>Tooth No</label>
                        <input clrInput style="width:80px" type="text" formControlName="tooth" (blur)="ToothBlurOwnCode(this.selectedEditCode.code)" />
                        <clr-control-helper>
                          <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                            <clr-icon shape="info-circle" size="16"></clr-icon>
                            <span class="tooltip-content" style="background-color:lightgray;color:black;border-color:grey">Should you need to enter more than one tooth number seperate them by using a comma. </span>
                          </a>
                        </clr-control-helper>
                      </clr-input-container>

                    </div>


                  </form>

                </div>
                <div class="clr-col-lg-5" *ngIf="!this.showAddCodeForm" style="text-align:left;display:inline-block">
                  <div style="display:inline-block">
                    <div class="alert alert-success" role="alert">
                      <div class="alert-items">
                        <div class="alert-item static">
                          <span class="alert-text " style="font-size:small">
                            Click on the below buttons to auto populate procedure codes.
                          </span>

                        </div>
                      </div>
                    </div>
                    <br />
                    <div *ngFor="let group of this._appService.TransactionService.groups">
                      <button class="btn btn-sm btn-primary" (click)="AddDefaultCode(group)">{{group.heading}}</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="card-footer" style="text-align:center">
            <div style="display:inline-block" *ngIf="this.showAddCodeForm">
              <button class="btn btn-sm btn-link" (click)="AddCode()">Add Code</button>
              <button class="btn btn-sm btn-link" (click)="Clear()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="clr-col-md-1"></div>
</div>
<br />
<br />
<div class="clr-row">
  <div class="clr-col-lg-2"></div>
  <div class="clr-col-lg-8">
    <div class="clr-row">
      <div class="clr-col-lg-7"></div>
      <div class="clr-col-lg-5 text-right">

        <div class="btn-group">
          <button class="btn btn-primary btn-sm" (click)="AddLine()">Add Line</button>
          <button class="btn btn-success btn-sm" (click)="SubmitClaim()" [disabled]="!(this.diagCorrect && this._appService.TransactionService.codeList.length>0)">Submit Claim</button>
          <button class="btn btn-danger btn-sm" (click)="ClearLines()">Clear All</button>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-2"></div>

</div>
<div class="clr-row">
  <!--Claim capture grid-->

  <div class="clr-col-lg-12">
    <form clrForm [formGroup]="DefaultCodeForm" clrLayout="compact">


      <clr-datagrid>
        <clr-dg-column style="width:120px">Procedure Code</clr-dg-column>
        <clr-dg-column style="width:200px">Description</clr-dg-column>
        <clr-dg-column style="width:120px">
          Tooth No
        </clr-dg-column>
        <clr-dg-column style="width:80px">Qty</clr-dg-column>
        <clr-dg-column style="width:120px">Single Unit Price</clr-dg-column>
        <clr-dg-column style="width:100px">Total</clr-dg-column>
        <clr-dg-column style="width:100px">Payable by MediWallet</clr-dg-column>
        <clr-dg-column style="width:100px">Payable by Member</clr-dg-column>
        <clr-dg-column style="width:120px" joyrideStep="Capture_1" title="Remove/Delete">Remove/Edit</clr-dg-column>
        <clr-dg-placeholder>No codes captured yet!</clr-dg-placeholder>
        <clr-dg-row *ngFor="let code of this._appService.TransactionService.codeList">
          <clr-dg-cell style="text-align:center">{{code.code}}</clr-dg-cell>
          <clr-dg-cell>{{code.desc}}</clr-dg-cell>
          <clr-dg-cell *ngIf="!code.enterTooth" style="text-align:center">N/A</clr-dg-cell>
          <clr-dg-cell *ngIf="code.enterTooth && (code.toothNo !== null && code.toothNo !== undefined && code.toothNo !== '')" style="text-align:center">{{code.toothNo}}</clr-dg-cell>
          <clr-dg-cell *ngIf="code.enterTooth && !(code.toothNo !== null && code.toothNo !== undefined && code.toothNo !== '')">
            <clr-input-container>
              <input clrInput style="width:80px" type="text" formControlName="tooth" (blur)="ToothBlur(code.code)" required />
              <clr-control-helper>
                <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                  <clr-icon shape="info-circle" size="16"></clr-icon>
                  <span class="tooltip-content" style="background-color:lightgray;color:black;border-color:grey">Should you need to enter more than one tooth number seperate them by using a comma. </span>
                </a>
              </clr-control-helper>
            </clr-input-container>
          </clr-dg-cell>
          <clr-dg-cell *ngIf="!code.enterTooth && !code.enterQty && (code.qty !== null && code.qty !== undefined && code.qty != '')" style="text-align:center;">{{code.qty}}</clr-dg-cell>
          <clr-dg-cell *ngIf="code.enterQty " style="text-align:center;">{{code.qty}}</clr-dg-cell>
          <clr-dg-cell *ngIf="code.enterTooth" style="text-align:center;">{{code.qty}}</clr-dg-cell>
          <clr-dg-cell *ngIf="!code.enterTooth && !code.enterQty && !(code.qty !== null && code.qty !== undefined && code.qty != '')" style="text-align:center;">

            <input clrInput type="number" formControlName="qty" style="width:50px" (blur)="QtyBlur(code)" required />

          </clr-dg-cell>
          <clr-dg-cell *ngIf="(code.singleUnitAmount !== null && code.singleUnitAmount !== undefined && code.singleUnitAmount !== '')" style="text-align:center">{{code.singleUnitAmount}}</clr-dg-cell>
          <clr-dg-cell *ngIf="!(code.singleUnitAmount !== null && code.singleUnitAmount !== undefined && code.singleUnitAmount !== '')">

            <input clrInput type="number" formControlName="unit" style="width:90px" (blur)="UnitBlur(code)" required />

          </clr-dg-cell>
          <clr-dg-cell style="text-align:center">{{code.total}}</clr-dg-cell>
          <clr-dg-cell style="text-align:center">{{code.provpay}}</clr-dg-cell>
          <clr-dg-cell style="text-align:center">{{code.membpay}}</clr-dg-cell>
          <clr-dg-cell style="text-align:center">
            <div class="btn-group " style="display:inline-block">
              <button type="button" class="btn btn-icon btn-danger-outline btn-sm" aria-label="error" (click)="RemoveCode(code)">
                <clr-icon shape="trash"></clr-icon>
              </button>
              <button type="button" class="btn btn-icon btn-outline  btn-sm" aria-label="edit" (click)="EditCode(code)">
                <clr-icon shape="note"></clr-icon>
              </button>
            </div>
          </clr-dg-cell>

        </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-row>
            <clr-dg-cell style="width:120px"></clr-dg-cell>
            <clr-dg-cell style="width:200px"></clr-dg-cell>
            <clr-dg-cell style="width:120px"></clr-dg-cell>
            <clr-dg-cell style="width:80px"></clr-dg-cell>
            <clr-dg-cell style="width:120px;text-align:center"><span style="font:bolder"><b>TOTALS</b></span></clr-dg-cell>
            <clr-dg-cell style="width:100px;text-align:center"><span style="font:bolder"><b>R {{this.GetTotal()}}</b></span></clr-dg-cell>
            <clr-dg-cell style="width:100px;text-align:center"><span style="font:bolder"><b>R {{this.providerLiable}}</b></span></clr-dg-cell>
            <clr-dg-cell style="width:100px;text-align:center"><span style="font:bolder"><b>R {{this.memberLiable}}</b></span></clr-dg-cell>
            <clr-dg-cell style="width:120px"></clr-dg-cell>

          </clr-dg-row>
          <!--<div class="clr-row">
            <div class="clr-col-6"></div>
            <div class="clr-col-2">
              PRACTICE R {{this.providerLiable}}
            </div>
            <div class="clr-col-2">
              MEMBER R {{this.memberLiable}}
            </div>
            <div class="clr-col-2">
              TOTAL R {{this.GetTotal()}}
            </div>
          </div>-->
        </clr-dg-footer>
      </clr-datagrid>
    </form>
  </div>

</div>
<br /><br />
<div class="clr-row">
  <div class="clr-col-2"></div>
  <div class="clr-col-8">

    <div class="alert alert-info" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">

            Please Note<br /><br />
            <b><u>How MediWallet payments work</u></b><br />
            MediWallet charges a fee that is linked to each transaction - they take a risk fee of 10%. They don't charge any upfront or
            monthly fees. You will be settled (net of the risk fee) in a weekly payment run. For benefit of doubt for a MediWallet Credit Account
            holder's transaction of R1000 that is processed through the system, DRC will settle you R900.<br /><br />

            <b>Contact MediWallet on 0872100336 or partners@mediwallet.co.za</b>

          </span>
        </div>
      </div>
    </div>

  </div>
  <div class="clr-col-2"></div>
</div>
<!--Lodaing modal-->
<!--Confirm claim submission modal-->
<clr-modal [(clrModalOpen)]="this.openTansaction" [clrModalClosable]="false">
  <div class="modal-body">
    <p>Are you sure you want to submit this claim with a total of R{{this.GetTotal()}} for member: {{this._appService.TransactionService.cardnumber}} ?</p>
    <p>
      <i>
        Please take note that <span style="font-size:medium;color:green"><b>R{{this.providerLiable}}</b></span> will be deducted from the members <span style="font-size:medium;color:green"><b>MediWallet account</b></span>,
        <br />the outstanding amount of <span style="font-size:medium;color:red"><b>R{{this.memberLiable}}</b></span>
        still needs to be paid by the member via <span style="font-size:medium;color:red"><b>cash or card to the practice</b></span>.
      </i>
    </p>
    <p>
      <span style="font-size:smaller;color:dimgrey">
        Should this information not be correct, please click on "NO", then do a larger balance check to see if the member qualifies for a larger amount
        and resubmit/recapture the claim or delete lines from your claim.
      </span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="StartTransaction()">
      YES
    </button>
    <button type="button" class="btn btn-danger" (click)="this.openTansaction = false">
      NO
    </button>
  </div>
</clr-modal>

<!--Confirm OTP modal-->
<clr-modal [(clrModalOpen)]="this.openOtpTansaction" [clrModalClosable]="false">
  <div class="modal-body">
    <form clrForm [formGroup]="PinForm">
      <clr-input-container>
        <label>Customer OTP</label>
        <input type="text" clrInput formControlName="otp" required />
        <clr-control-error>{{this.OtpError}}</clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="ConfirmOtp()" [disabled]="!this.PinForm.valid">
      OK
    </button>
    <button type="button" class="btn btn-danger" (click)="this.openOtpTansaction = false">
      CANCEL
    </button>
  </div>
</clr-modal>

<!--Completed transaction show reference modal-->
<!--<clr-modal [(clrModalOpen)]="this._appService.TransactionService.openReferenceModel" [clrModalClosable]="false">
  <div class="modal-body">
    <div class="alert alert-success" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
          </div>
          <span class="alert-text">Claim Submitted Successfully!</span>
        </div>
      </div>
    </div>
    <br />
    <br />
    <span style="font-size:medium;color:green"><b><i>TOTAL AMOUNT DEDUCTED FROM MEDIWALLET R{{this._appService.TransactionService.totalMedi}}</i></b></span>
    <br />
    <br />
    <b>DRC REFERENCE:</b> {{this._appService.TransactionService.drcRef}}
    <br />
    <b>MEDIWALLET REFERENCE:</b> {{this._appService.TransactionService.mediRef}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.TransactionService.openReferenceModel = false">
      OK
    </button>
  </div>
</clr-modal>-->

<!--Warning to do a balance check first modal-->
<clr-modal [(clrModalOpen)]="this.popupBalance" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body">
    Please do a balance check first!!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.popupBalance = false">
      OK
    </button>
  </div>
</clr-modal>


<!--INVALID TEETH-->
<clr-modal [(clrModalOpen)]="this._appService.TransactionService.teethNo" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body">
    <div class="alert alert-danger" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">Error!!</span>
        </div>
      </div>
    </div>
    <br />
    <br />
    One of the Thooth numbers entered is incorrect!!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.TransactionService.teethNo = false">
      OK
    </button>
  </div>
</clr-modal>


<!--Warning exceeding validated amount Modal-->
<clr-modal [(clrModalOpen)]="this.proceed" [clrModalSize]="'md'">
  <div class="modal-body">
    <div class="alert alert-danger" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">Error!!</span>
        </div>
      </div>
    </div>
    <br />
    You are exceeding the amount validated!<br />
    To charge a larger amount than verified, please do a balance check with the new amount.
  </div>
</clr-modal>

<!--Edit selected code-->
<clr-modal [(clrModalOpen)]="this.openEditCodeModal" [clrModalClosable]="false">
  <div class="modal-body">
    <form clrForm [formGroup]="ClaimForm" clrLayout="compact">
      <div>
        <clr-input-container>
          <label>Procedure Code</label>
          <input clrInput type="text" formControlName="proc" (blur)="ValidateProc()" required />
          <clr-control-error>{{this.procError}}</clr-control-error>
          <clr-control-helper style="color:rgb(4, 161, 70)">{{this.procError}}</clr-control-helper>
        </clr-input-container>

        <clr-input-container>
          <label>Qauntity</label>
          <input clrInput type="number" formControlName="qty" (blur)="ValidateQty()" min="0" step="1" required />
          <clr-control-error>{{this.qtyError}}</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Single Unit Price</label>
          <input clrInput type="number" formControlName="price" (blur)="ValidatePrice()" min="0.00" step=".01" required />
          <clr-control-error>{{this.priceError}}</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Tooth No</label>
          <input clrInput style="width:80px" type="text" formControlName="tooth" (blur)="ToothBlurEdit(this.selectedEditCode.code)" />
          <clr-control-helper>
            <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
              <clr-icon shape="info-circle" size="16"></clr-icon>
              <span class="tooltip-content" style="background-color:lightgray;color:black;border-color:grey">Should you need to enter more than one tooth number seperate them by using a comma. </span>
            </a>
          </clr-control-helper>
        </clr-input-container>
        <!--<clr-input-container>
          <label>Diagnosis Code</label>
          <input clrInput type="text" formControlName="diag" (blur)="ValidateDiag()" min="0.00" step=".01" required />
          <clr-control-error>{{this.diagError}}</clr-control-error>
          <clr-control-helper style="color:rgb(4, 161, 70)">{{this.diagError}}</clr-control-helper>
        </clr-input-container>-->

      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="UpdateCode()">
      OK
    </button>
    <button type="button" class="btn btn-danger" (click)="this.openEditCodeModal = false">
      CANCEL
    </button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="this._appService.TransactionService.showEmail" [clrModalClosable]="false">
  <div class="modal-body">
    <div class="alert alert-info" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">
            This reference numbers will now be emailed to you,
            please specify if you wish to send this email to a seperate email other than the one registered to your account.
          </span>
        </div>
      </div>
    </div>
    <br />
    <br />
    <form clrForm [formGroup]="Email">
      <div>
        <clr-select-container>
          <label>Email address</label>
          <select clrSelect formControlName="mails" (change)="EmailChange()">
            <option></option>
            <option *ngFor="let a of this._appService.LoginService.emailList">{{a.email}}</option>
            <option>OTHER</option>
          </select>
        </clr-select-container>
        <clr-input-container *ngIf="this.showInputEmail">
          <label>Email address</label>
          <input clrInput type="text" formControlName="address" />
        </clr-input-container>
      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="SendEmail()">
      SEND
    </button>
    <button type="button" class="btn btn-danger" (click)="CancelMail()">
      CANCEL
    </button>
  </div>
</clr-modal>


<!--Add own code-->
<clr-modal [(clrModalOpen)]="this.openNewModel" [clrModalClosable]="false">
  <div class="modal-body">
    <form clrForm [formGroup]="ClaimForm">
      <div>
        <clr-input-container>
          <label>Procedure Code</label>
          <input clrInput type="text" formControlName="proc" (blur)="ValidateProc()" required />
          <clr-control-error>{{this.procError}}</clr-control-error>
          <clr-control-helper style="color:rgb(4, 161, 70)">{{this.procError}}</clr-control-helper>
        </clr-input-container>

        <clr-input-container>
          <label>Qauntity</label>
          <input clrInput type="number" formControlName="qty" (blur)="ValidateQty()" required />
          <clr-control-error>{{this.qtyError}}</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Single Unit Price</label>
          <input clrInput type="number" formControlName="price" (blur)="ValidatePrice()" min="0.00" step=".01" required />
          <clr-control-error>{{this.priceError}}</clr-control-error>
        </clr-input-container>

        <!--<clr-input-container>
          <label>Diagnosis Code</label>
          <input clrInput type="text" formControlName="diag" (blur)="ValidateDiag()" min="0.00" step=".01" required />
          <clr-control-error>{{this.diagError}}</clr-control-error>
          <clr-control-helper style="color:rgb(4, 161, 70)">{{this.diagError}}</clr-control-helper>
        </clr-input-container>-->
        <clr-input-container>
          <label>Tooth No</label>
          <input clrInput style="width:80px" type="text" formControlName="tooth" (blur)="ToothBlurOwnCode(this.selectedEditCode.code)" />
          <clr-control-helper>
            <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
              <clr-icon shape="info-circle" size="16"></clr-icon>
              <span class="tooltip-content" style="background-color:lightgray;color:black;border-color:grey">Should you need to enter more than one tooth number seperate them by using a comma. </span>
            </a>
          </clr-control-helper>
        </clr-input-container>

      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="AddCode()">
      ADD
    </button>
    <button type="button" class="btn btn-danger" (click)="this.openNewModel = false">
      CANCEL
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.TransactionService.busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center" style="padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.confirming" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center">
    <span class="spinner" style="padding: 24px;">
      Loading...
    </span>
  </div>
</clr-modal>

<!--showEmail-->
