
<div class="clr-row">
  <div class="clr-col-2"></div>
  <div class="clr-col-8" style="text-align:right">
    <span style="display:inline-block">
      <button class="btn btn-success btn-sm" (click)="AddNewLine()">ADD NEW</button>
    </span>
  </div>
  <div class="clr-col-2"></div>
</div>
<div class="clr-row">
  <div class="clr-col-lg-2"></div>
  <div class="clr-col-lg-8">
    <clr-datagrid>
      <clr-dg-column>ID</clr-dg-column>
      <clr-dg-column>GROUP DESCRIPTION</clr-dg-column>
      <clr-dg-column>EDIT</clr-dg-column>
      <clr-dg-column>DELETE</clr-dg-column>

      <clr-dg-row *ngFor="let groups of this._appService.AdminService.codeGroupList">
        <clr-dg-cell>{{groups.id}}</clr-dg-cell>
        <clr-dg-cell>{{groups.heading}}</clr-dg-cell>
        <clr-dg-cell>
          <button class="btn btn-icon btn-Secondary btn-sm" type="submit" (click)="Edit(groups)">
            <clr-icon shape="pencil"></clr-icon>
          </button>
        </clr-dg-cell>
        <clr-dg-cell>
          <button class="btn btn-icon btn-danger-outline btn-sm" type="submit" (click)="Delete(groups)"
                  [disabled]="">
            <clr-icon shape="trash"></clr-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{this._appService.AdminService.codeGroupList.length}} users</clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="clr-col-2"></div>
</div>
<!--Lodaing modal-->
<clr-modal [(clrModalOpen)]="this._appService.AdminService.busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center" style="padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>

<!--ERROR MODAL-->
<clr-modal [(clrModalOpen)]="this._appService.AdminService.error" [clrModalClosable]="false">
  <h3 class="modal-title">Enter Customer OTP</h3>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">Oops!! It looks like something went wrong</span>
        </div>
      </div>
    </div>
    <span>{{this._appService.TransactionService.errorMessage}}</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.TransactionService.error = false">
      OK
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="OpenCodeSetup" [clrModalSize]="'xl'">
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-lg-12">
        <div class="clr-row">
          <div class="clr-col-lg-12">
            <div class="clr-row">
              <div class="clr-col-lg-10">
                <form clrForm [formGroup]="GroupDescForm" clrLayout="horizontal">
                  <clr-input-container>
                    <label>
                      Group Description
                    </label>
                    <input clrInput formControlName="name" />
                  </clr-input-container>
                  <br />
                  <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox formControlName="enable" (change)="EnableQty()" />
                    <label>Enable Group</label>
                  </clr-checkbox-wrapper>
                </form>
              </div>
              <div class="clr-col-lg-2" style="text-align:right;">
                <div style="display:inline-block">
                  <button class="btn btn-success btn-sm" *ngIf="this._edit">Update</button>
                  <button class="btn btn-success btn-sm" *ngIf="!this._edit" (click)="AddCodeGroup()">Submit</button>
                  <br />
                  <button class="btn btn-sm" (click)="OpenCodeSetup = false; this._appService.AdminService.GetAllCodeGroups()">CANCEL</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-lg-12">
        <div class="clr-row">
          <div class="clr-col-lg-5">
            <br />
            <h3>Selected Codes</h3>
            <clr-datagrid>
              <clr-dg-column>SERVICE CODE</clr-dg-column>
              <clr-dg-column>CODE DESCRIPTION</clr-dg-column>

              <clr-dg-row *ngFor="let code of this.selectedList">
                <clr-dg-cell>{{code.code}}</clr-dg-cell>
                <clr-dg-cell>{{code.desc}}</clr-dg-cell>
              </clr-dg-row>

              <clr-dg-footer>
                {{this.selectedList.length}} selected codes
              </clr-dg-footer>
            </clr-datagrid>
          </div>
          <div class="clr-col-lg-1"></div>
          <div class="clr-col-lg-6">
            <div class="clr-row">
              <div class="clr-col-12">
                <form clrForm [formGroup]="SearchCodeForm" clrLayout="compact">
                  <clr-input-container>
                    <label>
                      Search
                    </label>
                    <input clrInput formControlName="search" (change)="SearchForCode()" />
                  </clr-input-container>
                </form>
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-12">
                <clr-datagrid>
                  <clr-dg-column>SERVICE CODE</clr-dg-column>
                  <clr-dg-column>CODE DESCRIPTION</clr-dg-column>
                  <clr-dg-column>ADD</clr-dg-column>

                  <clr-dg-row *ngFor="let code of this.currentLIst">
                    <clr-dg-cell>{{code.code}}</clr-dg-cell>
                    <clr-dg-cell>{{code.desc}}</clr-dg-cell>
                    <clr-dg-cell>
                      <form clrForm [formGroup]="codeForm">
                        <clr-checkbox-wrapper>
                          <input type="checkbox" clrCheckbox formControlName="add" (change)="AddCode(code)" [checked]="code.added" />
                        </clr-checkbox-wrapper>
                      </form>

                    </clr-dg-cell>
                  </clr-dg-row>

                  <clr-dg-footer>
                    <span (click)="DecPage()" style="cursor:pointer" *ngIf="!(this._currentPage == 1)"><clr-icon shape="rewind" class="is-solid"></clr-icon></span>
                    &nbsp;&nbsp;&nbsp;page&nbsp;{{this._currentPage}}&nbsp;of&nbsp;{{this._appService.AdminService.totalPages}}&nbsp;&nbsp;&nbsp;
                    <span (click)="IncPage()" style="cursor:pointer" *ngIf="!(this._currentPage == this._appService.AdminService.totalPages)"><clr-icon shape="fast-forward" class="is-solid"></clr-icon></span>
                  </clr-dg-footer>
                </clr-datagrid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</clr-modal>


<!--CODE DETAIL MODAL-->
<clr-modal [(clrModalOpen)]="SettingModal" [clrModalClosable]="false" [clrModalSize]="'md'">
  <h3 class="modal-title">Code Setup for {{this.selectedCode.code}}</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="CodeDetailSetupForm">
      <div class="clr-row">
        <div class="clr-col-12">
          <div class="clr-row">
            <div class="clr-col-5">
              <br />
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox formControlName="qtyDefault" (change)="EnableQty()" />
                <label>Has A Default QTY</label>
              </clr-checkbox-wrapper>
            </div>
            <div class="clr-col-7">
              <clr-input-container>
                <label>Default QTY</label>
                <input type="number" clrInput formControlName="qty" />
              </clr-input-container>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-12">
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox formControlName="toothNo" />
                <label>Requires Tooth Numbers</label>
              </clr-checkbox-wrapper>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-5">
              <br />
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox formControlName="depent" (change)="EnableDepCode()" />
                <label>Dependant on Another Code</label>
              </clr-checkbox-wrapper>
            </div>
            <div class="clr-col-7">
              <clr-input-container>
                <label>Dependant Code</label>
                <input clrInput formControlName="codeDep" />
              </clr-input-container>
            </div>
          </div>

        </div>
        <div class="clr-col-2"></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="AddDetails()">
      Ok
    </button>
    <button type="button" class="btn btn-primary" (click)="CancelModal()">
      Cancel
    </button>
  </div>
</clr-modal>


