<head>
  <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
</head>
<div>
  <clr-main-container>
    <clr-header class="header header-4">
      <!--Website title in header-->
      <div class="branding">
        <div *ngIf="this._appService.LoginService.isLoggedIn == true">
          <a href="#" [routerLink]="['/Dash']" class="nav-link">
            <span class="title" style="word-wrap: break-all">DRC Mediwallet</span>
          </a>
        </div>
      </div>
      <!--Navigation tabs in header-->
      <div class="header-nav" [clr-nav-level]="1" *ngIf="this._appService.LoginService.isLoggedIn == true &&  this._appService.LoginService.loginDetails.userType == 1">
        <a class="nav-link" href="#" [routerLink]="['/Dash']" routerLinkActive="active">
          <span class="nav-text">Dashboard</span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/balance-check']" routerLinkActive="active">
          <span class="nav-text">Balance Check</span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/Capture-Codes']" routerLinkActive="active" (click)="ClearDetails()">
          <span class="nav-text">Submit Claim</span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/history']" routerLinkActive="active" (click)="this._appService.TransactionService.GetAllClaims(this._appService.LoginService.loginDetails)">
          <span class="nav-text">History Claims</span>
        </a>
      </div>
      <div class="header-nav" [clr-nav-level]="1" *ngIf="this._appService.LoginService.isLoggedIn == true &&  this._appService.LoginService.loginDetails.userType == 0">
        <a class="nav-link" href="#" [routerLink]="['/Dash']" routerLinkActive="active">
          <span class="nav-text">Dashboard</span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/ProcCodeSetup']" routerLinkActive="active">
          <span class="nav-text">Procedure Codes Setup</span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/hp-setup']" routerLinkActive="active">
          <span class="nav-text">HP SETUP</span>
        </a>
      </div>
      <!--change password and logout action on header-->
      <div class="header-actions" *ngIf="this._appService.LoginService.isLoggedIn == true ">
        <a class="nav-link" href="#" routerLinkActive="active">
          <span class="nav-text">Log Out</span>
        </a>
        <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger>
            {{this._appService.LoginService.loginDetails.lastname}}
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a (click)="this.ChangePassword()" clrDropdownItem>Change Password</a>
          </clr-dropdown-menu>
        </clr-dropdown>

      </div>
    </clr-header>

    <div class="content-container">
      <!--Main container-->
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>

      <!--Sid nav with transaction history-->
      <nav class="sidenav" *ngIf="this._appService.LoginService.isLoggedIn == true && this._appService.LoginService.loginDetails.userType == 1" style="width:500px">
        <br />
        <span><b>&nbsp;&nbsp; Balance Check History:</b></span>
        <br />
        <div class="clr-row" *ngFor="let transaction of this._appService.TransactionService.historyList">
          <div class="clr-col">
            <span style="cursor:pointer; color:green" *ngIf="transaction.success == true" (click)="StartClaimSubmission(transaction)">&nbsp;&nbsp;&nbsp;{{transaction.time}} : {{transaction.memb}} - R {{transaction.amount | number : '.2'}}</span>
            <span style=" color:red" *ngIf="transaction.success == false">&nbsp;&nbsp;&nbsp;{{transaction.time}} : {{transaction.memb}} - R {{transaction.amount | number : '.2'}}</span>
          </div>
        </div>
        <br />
      </nav>
    </div>
  </clr-main-container>
</div>

<!--Change password modal-->
<clr-modal [(clrModalOpen)]="this.openPassword" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">Change Password</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="passwordForm">
      <clr-input-container>
        <label>Old Password</label>
        <input type="text" clrInput formControlName="old" (blur)="ValidateOldPassword()" required />
        <clr-control-error>{{this.errorOld}}</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>New Password</label>
        <input type="text" clrInput formControlName="new" required />
        <clr-control-error>{{this.errorNew}}</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Confirm Password</label>
        <input type="text" clrInput formControlName="confirm" (blur)="ValidateNewPassword()" required />
        <clr-control-error>{{this.errorConfirm}}</clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.UpdatePassword()" [disabled]="!this.passwordForm.valid">
      Update
    </button>
    <button type="button" class="btn btn-primary" (click)="this.openPassword = false">
      Cancel
    </button>
  </div>
</clr-modal>
