
<div class="clr-row">
  <div class="clr-col-1"></div>
  <div class="clr-col-10">
    <img src="../../../MediWallet/assets/banner.png" style="width:100%" />
    <!--<img src="../../../assets/b.jpg" style="width:100%" />-->
  </div>
  <div class="clr-col-1"></div>
</div>
<div class="clr-row">
  <div class="clr-col-1"></div>
  <div class="clr-col-8">

    <h3>MediWallet Medical Credit Account</h3>
    <br />

    <p>
      <b>Offer your patients an alternative payment option.</b><br />
      With more and more patients unable to afford their dental bills - MediWallet provides your patients with
      an easy method to finance their expenses in your practice over 18 months.
    </p>
    <br />

    <u>Benefits of accepting MediWallet:</u>
    <ul>
      <li>We finance your patients.</li>
      <li>Quick and easy application process with pre-approval in 30 seconds.</li>
      <li>We take your bad debts.</li>
      <li>We settle payments weekly – no more chasing payments.</li>
      <li>Higher invoice value and more patients (new and return).</li>
    </ul>

    <br />
    <p>
      MediWallet has a network of partners that already accepts this payment option, including Clicks, Spec-Savers
      as well as various independent healthcare and veterinary practices nationwide. Here is a list of partners that
      are already a part of the network: <a href="http://www.mediwallet.co.za/wherecaniusethis" target="_blank">www.mediwallet.co.za/wherecaniusethis</a>
    </p>

    <div class="clr-row">
      <div class="clr-col-1"></div>
      <div class="clr-col-lg-10 text-center">
        <br /><br />
        <button type="button" class="btn btn-primary" (click)="this.openSms = true">
          Send Application Via Sms
        </button>
        <!--<div class="card">
    <div class="card-block">-->
        <!--<div class="card-title text-center">
    Send the mobile application to the patient by clicking on the button below and entering the patient’s cell number:
  </div>-->
        <!--<div class="card-text">
      <div class="clr-row">
        <div class="clr-col-4"></div>
        <div class="clr-col-4 text-center">


        </div>
        <div class="clr-col-4"></div>
      </div>
      </div>
  </div>-->
        <!--<div class="card-footer">
    <div class="clr-row">
      <div class="clr-col-4"></div>
      <div class="clr-col-4">
        <button class="btn btn-sm btn-primary">SEND SMS APPLICATION</button>
      </div>
      <div class="clr-col-4"></div>
    </div>
  </div>-->
        <!--</div>-->
      </div>
      <div class="clr-col-1"></div>
    </div>
    <br />
    <br />
    <div class="alert alert-info" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">

            Please Note<br /><br />
            <b><u>How MediWallet payments work</u></b><br />
            MediWallet charges a fee that is linked to each transaction - they take a risk fee of 10%. They don't charge any upfront or
            monthly fees. You will be settled (net of the risk fee) in a weekly payment run. For benefit of doubt for a MediWallet Credit Account
            holder's transaction of R1000 that is processed through the system, DRC will settle you R900.<br /><br />

            <b>Contact MediWallet on 0872100336 or partners@mediwallet.co.za</b>

          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col-3">
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="alert alert-success" role="alert" style="width:250px">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <div class="alert-text">

            <b>MediWallet Marketing (Downloads)</b><br /><br />
            <ul>
              <li > <a href="https://www.mediwallet.co.za/Document/MediWalletMedicalAppForm2020.pdf " target="_blank">MediWallet Application</a></li>
              <li><a href="https://www.mediwallet.co.za/Document/MediWalletPoster2020.pdf " target="_blank">MediWallet Flyer</a></li>
              <li><a href="https://www.mediwallet.co.za/Document/MediWalletMedicalQuoteSticker.png" target="_blank">MediWallet Scan/SMS</a></li>
            </ul>
            <br />

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<clr-modal [(clrModalOpen)]="openSms" [clrModalSize]="'lg'">
 
  <div class="modal-body">
    <iframe [src]="urlSafe" frameBorder="0" width="800" height="300">
    </iframe>
  </div>
  <div class="modal-footer">
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.TransactionService.openReferenceModel" [clrModalClosable]="false">
  <div class="modal-body">
    <div class="alert alert-success" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
          </div>
          <span class="alert-text">Claim Submitted Successfully!</span>
        </div>
      </div>
    </div>
    <br />
    <br />
    <span style="font-size:medium;color:green"><b><i>TOTAL AMOUNT DEDUCTED FROM MEDIWALLET R{{this._appService.TransactionService.totalMedi}}</i></b></span>
    <br />
    <br />
    <b>DRC REFERENCE:</b> {{this._appService.TransactionService.drcRef}}
    <br />
    <b>MEDIWALLET REFERENCE:</b> {{this._appService.TransactionService.mediRef}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.TransactionService.openReferenceModel = false">
      OK
    </button>
  </div>
</clr-modal>
