<div class="login-wrapper">
  <form class="login" [formGroup]="loginForm">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      DRC Mediwallet
    </section>

    <div class="login-group" *ngIf="!this._appService.webservice">
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="text" formControlName="username" clrInput placeholder="Username" />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" formControlName="password" clrPassword placeholder="Password" />
      </clr-password-container>
      <div class="alert alert-danger" role="alert" *ngIf="this._appService.LoginService.incorrect">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">Invalid user name or password</span>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="Login()">Login</button>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="this._appService.webservice">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">The WebService Is Currently Unavailable.</span>
        </div>
      </div>
    </div>

  </form>
</div>
<!--\"ng build --base-href \"/DRCMediWallet/\"-->
<clr-modal [(clrModalOpen)]="this._appService.busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center" style="padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.LoginService.busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center" style="padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>
